<router-outlet></router-outlet>

<div class="pb-16" id="div1" class="md-12">
  <mat-form-field class="md-12 container-fluid">
    <input
      matInput
      name="desde"
      placeholder="FECHA"
      [matDatepicker]="appDatepicker"
      [(ngModel)]="fechaSeleccionada"
      (ngModelChange)="obtenerReporteProvisiones()"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="appDatepicker"
    ></mat-datepicker-toggle>
  </mat-form-field>
  <mat-datepicker #appDatepicker></mat-datepicker>
</div>


<br /><br /><br />
<div class="mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    *ngIf="dataSource"
    id="season-tble"
  >
    <!-- Name Column2 -->
    <ng-container matColumnDef="dvalor_BV">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>dvalor_BV</th>
      <td mat-cell *matCellDef="let row">
        {{ row.dvalor_BV }}
      </td>
    </ng-container>

    <!-- Weight Column3 -->
    <ng-container matColumnDef="fdesembolso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>fdesembolso</th>
      <td mat-cell *matCellDef="let row">{{ row.fdesembolso }}</td>
    </ng-container>

    <!-- Symbol Column4 -->
    <ng-container matColumnDef="ncuota">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ncuota</th>
      <td mat-cell *matCellDef="let row">
        {{ row.ncuota }}
      </td>
    </ng-container>

    <!-- Position Column1 -->
    <ng-container matColumnDef="interes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>interes</th>
      <td mat-cell *matCellDef="let row">
        {{ row.interes }}
      </td>
    </ng-container>

    <!-- Weight Column3 -->
    <ng-container matColumnDef="diastrans">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>diastrans</th>
      <td mat-cell *matCellDef="let row">
        {{ row.diastrans }}
      </td>
    </ng-container>

    <!-- Symbol Column4 -->
    <ng-container matColumnDef="interesprov">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>interesprov</th>
      <td mat-cell *matCellDef="let row">
        {{ row.tnombres }}
      </td> </ng-container>
      
      <!-- Position Column1 -->
    <ng-container matColumnDef="tea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>tea</th>
      <td mat-cell *matCellDef="let row">
        {{ row.tea }}
      </td>
    </ng-container>

    <!-- Name Column2 -->
    <ng-container matColumnDef="fpago">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>fpago</th>
      <td mat-cell *matCellDef="let row">
        {{ row.fpago }}
      </td>
    </ng-container>

    <!-- Weight Column3 -->
    <ng-container matColumnDef="monto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>monto</th>
      <td mat-cell *matCellDef="let row">{{ row.monto }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>


<mat-paginator [pageSizeOptions]="[2, 4, 10, 100]" [length]="totalElements" aria-label="Select page of riesgo" (page)="showMore($event)"></mat-paginator>

<button
mat-raised-button
color="primary"
class="btn-secondary btn-lg"
[disabled]=""
(click)="exportToExcel()"
>
Export to Excel
</button>
<div *ngIf="riesgos.length === 0">
  <p>No se encontraron datos para la fecha seleccionada.</p>
</div>
<div>
  <br /><br />

  <br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
